* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: $family;
    font-size: $size;
    background-color: $main-bg;
    position: relative;
  }

