//family
$family: 'League Spartan', sans-serif;

//size
$size: 15px;

//colors
$main-c: hsl(180, 29%, 50%);


// background
$main-bg: hsl(180, 52%, 96%);
$filter-bg: hsl(180, 31%, 95%);
$grey-t: hsl(180, 8%, 52%);
$dark-t: hsl(180, 14%, 20%);
$white: hsl(0, 0%, 100%);